body {
    font-family: Arial, sans-serif;
    background-image: url('images/pic1.JPEG'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    margin-top: auto;
}





/* Mobile Styles */
@media (max-width: 768px) {
    #search-filter {
        flex-direction: column;
        gap: 5px;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    #property-list, #agent-list {
        flex-direction: column;
    }

    #property-list .property-card, #agent-list .agent-card {
        flex: 1 1 100%;
    }
}

/* Tablet Styles */
@media (min-width: 769px) and (max-width: 1024px) {
    #property-list .property-card, #agent-list .agent-card {
        flex: 1 1 45%;
    }
}


.register-container {
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin-top: 100px;
    margin-left: 500px;
    color: white;
}

h2 {
    margin-top: 0;
    color: white;
    text-align: center;
}

label {
    display: block;
    margin: 15px 0 5px;
    color: white;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

input[type="file"] {
    padding: 0;
    margin-bottom: 20px;
}

input[type="file"]::file-selector-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: #0056b3;
}
